<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Karma Back End</title>
  </head>
  <body>
    <h1>This is the API for the Code Karma frontend</h1>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/44/69/6b/44696bed41e0fc1cf7ee05170b614c12.jpg"/>
    <h3>Daniel Griffiths<h3>
    <h3>Tim Hsieh<h3>
    <h3>Kristine Teichmann<h3>
  </body>
</html>
